<html>
    <head>
        <title>Contactanos</title>
    </head>

    <body>
        <h1>Contactanos</h1>
        {% if form.errors %}
        <p style="color:red;">
            Por favor corrigelo siguiente:
        </p>
        {% endif %}

        <form action="" method="post">{% csrf_token %}
            <div class="field">
                {{ form.asunto.errors}}
                <label for="id_asunto">Asunto:</label>
                {{form.asunto}}
            </div>

            <div class="field">
                {{ form.email.errors }}
                <label for = "id_email">E-mail:</label>
                {{ form.email}}
            </div>

            <div class="field" {% if form.mensaje.errors %} errors{% endif %}>
                {% if form.mensaje.errors %}
                <ul>
                    {% for error in form.mensaje.errors %}
                    <li><strong>{{ error }}</strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <label for ="id_mensaje">Mensaje:</label>
                {{form.mensaje}}
            </div>

            <input type="submit" value="Enviar">

        </form>
    </body>
</html>

<style type = "text/css">
    ul.errorlist{
        margin:0;
        padding: 0;
}
.errorlist li{
    background-color: red;
    color:white;
    display:block;
    font-size: 10px;
    margin:0 0 3px;
    padding: 4px 5px;
}
</style>